.Donate-Now {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 170px;
    padding-top: 150px;
}

.Donate-Now p {
    margin-inline: 480px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400px;
}

.help {
    text-align: center;
    color: white;
    padding-top: 5%;
}


.donate-today {
    text-align: center;
    margin-inline: 480px;
}